uv-complaint {
  // 空值缺省
  .value-container:empty::before {
    content: '-';
    color: #999;
  }

  .list-wrapper {

    .list-container {
      background-color: #fff;
      padding: 0 1.6rem;
      .list-item {
        margin-bottom: .5rem;
      }
    }
  }
}
