<check-pati (checkPassed)="init($event)"></check-pati>

<ion-content >
  <ion-list >
    <ion-item (click)="bind('user')">
      <ion-avatar item-start>
        <img *ngIf="wechatUsrInfo" src="{{wechatUsrInfo.headImgUrl}}">
      </ion-avatar>
      <h2 *ngIf="wechatUsrInfo" class="no-margin-top">{{wechatUsrInfo.nickname}}</h2>
      <h2 *ngIf="!wechatUsrInfo" class="no-margin-top">加载中……</h2>
      <p>患者</p>
     <!-- <ion-icon color="primary" name="ios-arrow-forward-outline" item-end></ion-icon>-->
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item (click)="bind('user')"
              *ngIf="usrs && wechatUsrInfo">
      <ion-icon color="primary" name="ios-contacts-outline" item-start></ion-icon>
      账号管理
      <ion-icon color="primary" name="ios-arrow-forward-outline" item-end></ion-icon>
    </ion-item>
    <ion-item (click)="bind('device')">
      <ion-icon color="primary" name="ios-build-outline" item-start></ion-icon>
      设备绑定
      <ion-icon color="primary" name="ios-arrow-forward-outline" item-end></ion-icon>
    </ion-item>
    <!--<ion-item>
      <ion-icon color="primary" name="ios-create-outline" item-start></ion-icon>
      反馈
      <ion-icon color="primary" name="ios-arrow-forward-outline" item-end></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon color="primary" name="ios-construct-outline" item-start></ion-icon>
      设置
      <ion-icon color="primary" name="ios-arrow-forward-outline" item-end></ion-icon>
    </ion-item>-->
  </ion-list>
</ion-content>
