page-exam-detail {
  // 空值缺省
  .value-container:empty::before {
    content: '-';
    color: #999;
  }

  .content-wrap {
    white-space: normal;
  }

  .sepreate {
    padding-top: .5rem;
    margin-top: 1rem;
    border-top: 1px solid #dcdcdc;
  }
}
